yaf (2.8.4-4ubuntu6~{{ ansible_lsb.codename }}) {{ ansible_lsb.codename }}; urgency=medium

  * Updated install dependencies from libpcap to libpcap0.8

 -- Michael Gale <gale.michael@gmail.com>  Fri, 11 Aug 2017 01:00:00 -0600

yaf (2.8.4-3ubuntu6~{{ ansible_lsb.codename }}) {{ ansible_lsb.codename }}; urgency=low

  * Updated changelog to build reflect new versioning schema

 -- Michael Gale <gale.michael@gmail.com>  Fri, 11 Aug 2017 01:00:00 -0600

yaf (2.8.4-0ubuntu6~{{ ansible_lsb.codename }}) {{ ansible_lsb.codename }}; urgency=low

  * Updated changelog to build reflect new versioning schema

 -- Michael Gale <gale.michael@gmail.com>  Fri, 11 Aug 2017 01:00:00 -0600

yaf (2.8.4-1) trusty; urgency=medium

  * Adding lintian-overrides to remove errors

 -- Michael Gale <gale.michael@gmail.com>  Sat, 22 Oct 2016 15:33:42 -0600

yaf (2.8.4) trusty; urgency=low

  * Updated deb to match source release

 -- Michael Gale <gale.michael@gmail.com>  Tues, 18 Oct 2016 01:00:00 -0600

yaf (2.8.1-1) trusty; urgency=low

  * Updated deb to match source release

 -- Michael Gale <gale.michael@gmail.com>  Fri, 20 Feb 2016 01:00:00 -0600
